.NavBar {}

.NavBar_Container {}

.NavBar_Row {
    width: 100%;
    margin: 20px 0;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.NavBar_Cart {
    margin: 0 20px;
    border-radius: 50%;
    background-color: var(--main-white-color); 
    width: 50px;
    height: 50px;
}
.NavBar_Cart:hover {
    background-color: var(--main-orange-color);
}

.NavBar_NavLink {
    color: var(--main-white-color); 
}

.NavBar_Logo {
    background-color: var(--main-white-color);
    padding: 10px 0;
    width: 150px;
}

@media(max-width:991px) {
    .NavBar_Row {
        margin: 0;
    }
    .NavBar_Cart {
        margin: 0 10px;
    }
    .NavBar_Logo {
        padding: 5px 0;
        width: 100px;
    }
}